@page "/line"

<h3>Line and Scatter Plot</h3>

<div class="col-6">
    <PlotlyChart Chart=@lineChart />
</div>

@code{

    public Goke.Plotly.Blazor.Chart lineChart = new Chart
    {
        Traces = Goke.Plotly.Blazor.Line.Sample1,
        Layout = new Layout
        {
            Title = "Line and Scatter Styling",
        },
        Config = new Config { Responsive = true },
    };
}