@inject IJSRuntime JSRuntime

<div @ref="chartElt" id="chart_div">    </div>

@code {

    ElementReference chartElt;

    [Parameter]
    public Chart Chart { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {

        if (Chart != null)
        {
            await JSRuntime.InvokeVoidAsync("plotlyDrawChart", chartElt, Chart);
        }
    }

}
